<h1>Edit User</h1>
<!--
<form accept-charset="UTF-8" action="/users" method="POST">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<label for="username" >Username</label>
<input name="user[username]" id="username" type="text"/>

<label for="email" >email</label>
<input name="user[email]" id="email" type="email"/>

<label for="password" >password</label>
<input name="user[password]" id="password" type="password"/>

<input name="commit" value="Create" type="submit" data-disable-with="Create"/>

</form>

<%= form_tag('/users', method: "post") do %>
<%=   label_tag :username %>
<%=   text_field_tag :username %>

<%=   label_tag :email %>
<%=   email_field(:email, 'email@example.com') %>

<%=   label_tag :password %>
<%=   password_field_tag :password %>

<%=   submit_tag("Create") %>
<%  end %>!-->

<%= form_for @user, url: {action: "update"} do |form| %>
    <%= render 'shared/error_messages' %>
Your username here: <%= form.text_field :username %>
We also need your email:<%= form.email_field :email, placeholder: "example@example.com" %>
password please: <%= form.password_field :password %>

<%= form.submit "Update" %>
<% end %>
