<h1>New User</h1>
<!--
<form accept-charset="UTF-8" action="/users" method="POST">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<label for="username" >Username</label>
<input name="user[username]" id="username" type="text"/>

<label for="email" >email</label>
<input name="user[email]" id="email" type="email"/>

<label for="password" >password</label>
<input name="user[password]" id="password" type="password"/>

<input name="commit" value="Create" type="submit" data-disable-with="Create"/>

</form> !-->

<%= form_with model: @user do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.submit "Create" %>
<% end %>
